* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

body {
    background-color: aqua;
    
}

form {
    margin-top: 20px;
    margin-left: 30px;
    max-width: 350px;
    display: flex;
    align-items: center;
    gap: 15px;
}

input {
    width: 70%;
    height: 40px;
    border: none;
    outline: 0;
    background-color: #f7f7f7; 
    color: #555;
    border-radius: 10px;
    padding: 10px 25px;
    font-size: 1.3rem;
}

button {
    border: none;
    outline: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f7f7f7;
    cursor: pointer;
}
.search-icon {
    width: 26px;
}

.container {
    margin: 200px auto;
    background-color: black;
    color: white;
    width: fit-content;
    display: grid;
    grid-template-rows: 1fr 2fr;
  
}

@media (max-width: 450px) {
    form {
        margin: 20px 0 0 60px;
    }
}

.city {
    font-size: 3rem;
}

.temp {
    font-size: 8.5rem;
    position: relative;
    font-family: 'Nunito', sans-serif;
    
}

.temp::after {
        content: '\00B0 F';
        font-size: 2rem;
        position: absolute;
        top: 1rem;
        left: 7.5rem;
}

.bottom-row {
    display: flex;
    justify-content: space-between;
    
    /* margin-top: 2rem; */
}

hr {
    height: 120px;
    margin-top: 30px;
    margin-right: 10px;
    color: white;
}

.side-display {
    margin-right: 110px;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 24px;
    letter-spacing: 0.05rem;
    height: 8rem;

}

.feels-like {
    position: relative;
  }
  
  .feels-like::after {
    content: '\00B0 F';
    position: absolute;
    bottom: 1.1rem;
    left: 11.4rem;
    font-size: 1rem;
  }

  .humidity::after {
    content: '%';
  }